@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */

  /* background: #e1b378; */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100vh;

  /* background: rgba(255, 255, 255, 0.1); */
  background: #fff;
}

.main .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;

  background: rgba(0, 0, 0, 0.5);
}

.main .content .intro {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.main .content .name {
  font-family: "Great Vibes";
  font-size: 10em;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 20px 0;
  color: #fff;
}

.main .content .save {
  font-family: "Great Vibes";
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.main .content .location {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.main .content .date {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.main .content .day {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.main .content .countdown {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.main .slide-show1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide-show1 .slide.active {
  opacity: 1;
  transition: 2s;
}

.slide-show1 .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  background: #000;
}

.slide-show1 .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------- wedding card styles ------- */
.wedding-card {
  width: 100%;
  height: 100vh;
  flex-direction: column;

  /* background: blue; */
}

.wedding-card .top-text {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.wedding-card .name-column {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 30px 0 70px 0;

  /* background: red; */
}

.wedding-card .name-column .left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background: yellow; */
}

.wedding-card .name-column .middle {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background: green; */
}

.wedding-card .name-column .right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background: orange; */
}

.name-text {
  font-family: "Great Vibes";
  font-size: 4.7em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}

.born-text {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  color: #000;
}

.parent-text {
  font-family: "Great Vibes";
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.plus-text {
  font-family: "Great Vibes";
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.wedding-card .bottom-text {
  font-family: "Abyssinica SIL";
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.hashtag {
  font-family: "Great Vibes";
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #000;
}

/* ------- schedule styles ------- */
.schedule {
  padding: 50px 20px 50px 20px;
  flex-direction: column;
  /* background: rebeccapurple; */
}

.schedule .title-area {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* background: yellow; */
}

.schedule .title-area h1 {
  font-family: "Great Vibes";
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.schedule .title-area h2 {
  font-family: "Abyssinica SIL";
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

.schedule .content-area {
  position: relative;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: row;
  /* padding: 20px; */

  /* background: maroon; */
}

.schedule .content-area .content {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(0 0 0 / 30%);
  padding: 30px;
  /* margin: 20px; */

  /* background: #e1b378; */
}

.schedule .content-area .content .top {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0 0 30px 0; */

  /* background: red; */
}
.schedule .content-area .content .bottom {
  width: 100%;
  position: relative;
  display: flex;

  /* background: blue; */
}

.schedule .content-area .content .top .title {
  font-family: "Abyssinica SIL";
  font-size: 1.2em;
  font-weight: 600;
}

.schedule .content-area .content .top p {
  font-family: "Abyssinica SIL";
  font-size: 1.1em;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

/* ------- rsvp styles ------- */
.rsvp {
  width: 100%;
  height: 100vh;
  flex-direction: column;

  /* background: blue; */
}

/* ------- prewedding video styles ------- */
.video-section {
  width: 100%;
  height: 100vh;
  flex-direction: column;

  /* background: blue; */
}

@media (max-width: 770px) {
  /* ------- main styles ------- */
  .main .content .intro {
    font-size: 1.5em;
  }

  .main .content .name {
    font-size: 4.7em;
    margin: 50px 0 50px 0;
  }

  .main .content .save {
    font-size: 3em;
  }
  .main .content .location {
    font-size: 1.3em;
  }

  .main .content .date {
    font-size: 1.3em;
  }

  .main .content .day {
    font-size: 1.3em;
  }

  .main .content .countdown {
    font-size: 1.3em;
  }

  .main .slide-show2 {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .slide-show2 .slide2.active {
    opacity: 1;
    transition: 2s;
  }

  .slide-show2 .slide2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background: #000;
  }

  .slide-show2 .slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ------- wedding card styles ------- */
  /* .wedding-card {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 20px 0 20px 0;

    background: blue;
  } */

  .wedding-card .top-text {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .wedding-card .name-column {
    margin: 30px 0 80px 0;

    /* background: red; */
  }

  .name-text {
    font-family: "Great Vibes";
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
  }

  .born-text {
    font-size: 0.6em;
    margin-bottom: 10px;
  }

  .parent-text {
    font-size: 0.7em;
  }

  .plus-text {
    font-size: 0.7em;
  }

  .wedding-card .bottom-text {
    font-size: 0.8em;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
  }

  .hashtag {
    font-size: 1em;
  }

  /* ------- schedule syles ------- */

  .schedule .title-area h1 {
    font-size: 3em;
  }

  .schedule .title-area h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .schedule .content-area {
    flex-direction: column;
  }

  .schedule .content-area .content {
    width: 100%;
    margin: 10px 0 40px 0;
  }

  .schedule .content-area .content .top .title {
    font-size: 1em;
  }

  .schedule .content-area .content .top p {
    font-size: 0.9em;
    margin: 5px 0 5px 0;
  }
}
